@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Assalamu'alaikum...</h1>
    <p>Lihat <a href="https://www.jadwalsholat.org/">Jadwal Sholat Hari Ini</a>.</p>
</div>
