﻿@{
    ViewData["Title"] = "Product";
}

<h1>@ViewData["Title"]</h1>

<div class="card">
    <h5 class="card-header">
        <button type="button" class="btn btn-primary" data-toggle="modal" id="btn-create">Create New</button>
    </h5>
    <div class="card-body">
        <div class="table-responsive" id="panel-body">
            Loading...
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="form-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modal-label">Modal title</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <label for="Name">Variant Id</label>
                        <input type="text" class="form-control" id="VariantId" placeholder="Enter Variant Id">
                    </div>
                    <div class="form-group">
                        <label for="Initial">Initial</label>
                        <input type="text" class="form-control" id="Initial" placeholder="Enter Initial">
                    </div>
                    <div class="form-group">
                        <label for="Name">Product Name</label>
                        <input type="text" class="form-control" id="Name" placeholder="Enter Category Name">
                    </div>
                    <div class="form-group">
                        <label for="Description">Description</label>
                        <input type="text" class="form-control" id="Description" placeholder="Enter Description">
                    </div>
                    <div class="form-group">
                        <label for="Price">Price</label>
                        <input type="text" class="form-control" id="Price" placeholder="Enter Price">
                    </div>
                    <div class="form-group">
                        <label for="Stock">Stock</label>
                        <input type="text" class="form-control" id="Stock" placeholder="Enter Stock">
                    </div>
                    <div class="form-group form-check">
                        <input type="checkbox" class="form-check-input" id="exampleCheck1">
                        <label class="form-check-label" for="exampleCheck1">Active ?</label>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
            </div>
        </div>
    </div>
</div>

@section Scripts{
    <script type="text/javascript">
        $(document).ready(function() {
            //alert("Hello!");
            GetList();
        });

        function GetList() {
            $.ajax({
                url: '@Url.Action("List")',
                type: 'get',
                success: function(result) {
                    $('#panel-body').html(result)
                }
            })
        }
        $('#btn-create').click(function() {
            $('.modal-title').html('Create New');
            $('#form-modal').modal('show');
        })
    </script>
}