@{
	ViewData["Title"] = "Product";
}

<h1>@ViewData["Title"]</h1>

<div class="card">
	<h5 class="card-header">
		<button type="button" class="btn btn-primary" data-toggle="modal" id="btn-create">Create New</button>
	</h5>
	<div class="card-body">
		<div class="table-responsive" id="panel-body">
			Loading...
		</div>
	</div>
</div>

<!-- Modal -->
<div class="modal fade" id="form-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="modal-label">Modal title</h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				<form>
					<div class="form-group">
						<label for="Name">Variant ID</label>
						<input type="text" class="form-control" id="Variant ID" placeholder="Enter Variant ID">
					</div>
					<div class="form-group">
						<label for="Initial">Initial</label>
						<input type="text" class="form-control" id="Initial" placeholder="Enter Initial">
					</div>
					<div class="form-group">
						<label for="Name">Product Name</label>
						<input type="text" class="form-control" id="Name" placeholder="Enter Product Name">
					</div>
					<div class="form-group">
						<label for="Name">Description</label>
						<input type="text" class="form-control" id="Description" placeholder="Enter Product Description">
					</div>
					<div class="form-group">
						<label for="Name">Price</label>
						<input type="text" class="form-control" id="Price" placeholder="Enter Product Price">
					</div>
					<div class="form-group">
						<label for="Name">Stock</label>
						<input type="text" class="form-control" id="Stock" placeholder="Enter Product Stock">
					</div>
					<div class="form-group form-check">
						<input type="checkbox" class="form-check-input" id="exampleCheck1">
						<label class="form-check-label" for="exampleCheck1">Check If Active</label>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>

@section Scripts{
	<script type="text/javascript">
		$(document).ready(function() {
			//alert("Hello!");
			GetList();
		});

		function GetList() {
			$.ajax({
				url: '@Url.Action("List")',
				type: 'get',
				success: function(result) {
					$('#panel-body').html(result)
				}
			})
		}
		$('#btn-create').click(function() {
            $.ajax({
                url: '@Url.Action("Create")',
                type: 'get',
                success: function(result) {
                    $('.modal-body').html(result);
                }
            })
            $('.modal-title').html('Create New Product');
            $('#form-modal').modal('show');
        });
	</script>
}
